name: Tag New Version and Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    uses: George-Ogden/actions/.github/workflows/python-release.yaml@v3.1.2
    with:
      validation-code: "import linter, os; exit(os.system('lint --help'))"
